<!DOCTYPE html>
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    
    ='\n'

    title Augurio Carousel - Augustus - Let's Write

    ='\n'

    link(rel="canonical", href="https://auguston.github.io/augurio-vue-carousel/")
    meta(property="og:url", content="https://auguston.github.io/augurio-vue-carousel/")

    ='\n'

    meta(property="og:site_name", content="Let's Write")
    meta(property="og:title", content="Augurio Carousel - Augustus - Let's Write")
    meta(itemprop="name", content="Augurio Carousel - Augustus - Let's Write")

    ='\n'

    meta(name="description", content="由Augustus開發的carousel/slider，使用Vue.js transition製作，直接就有lazyload效果。")
    meta(property="og:description", content="由Augustus開發的carousel/slider，使用Vue.js transition製作，直接就有lazyload效果。")
    meta(itemprop="description", content="由Augustus開發的carousel/slider，使用Vue.js transition製作，直接就有lazyload效果。")

    ='\n'

    meta(itemprop="image", content="https://auguston.github.io/augurio-vue-carousel/dist/fb.jpg")
    meta(property="og:image", content="https://auguston.github.io/augurio-vue-carousel/dist/fb.jpg")

    ='\n'

    link(rel="shortcut icon", href="https://i0.wp.com/letswrite.tw/wp-content/uploads/2019/07/cropped-letswrite512-1.jpg")

    ='\n'

    //- style 是另外增加頁面效果，可刪
    style.
      *, *::before, *::after {
        -webkit-box-sizing: border-box;
          box-sizing: border-box;
      }
      html, body, .container {
        height: 100vh;
        overflow-y: hidden;
      }
      .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
          -ms-flex-pack: center;
            justify-content: center;
        -webkit-box-align: center;
          -ms-flex-align: center;
            align-items: center;
        margin-right: auto;
        margin-left: auto;
        max-width: 900px;
      }
      .bg {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(8px);
          filter: blur(8px);
        -webkit-transition: background-image 0.5s;
        -o-transition: background-image 0.5s;
        transition: background-image 0.5s;
      }
      .bg::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
      }

    ='\n'

    link(rel="stylesheet", href="dist/augurio-carousel.min.css")

    ='\n'

    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGQ9WQT');

    ='\n'

  ='\n'

  body

    // Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PGQ9WQT", height="0", width="0", style="display:none;visibility:hidden")

    ='\n'

    #app

      ='\n'

      // .bg 是另外增加頁面效果，可刪
      .bg(:style="'background-image: url(' + carousels[show].img + ')'")

      ='\n'

      //- container
      .container

        ='\n'

        // carousel
        // data-auto 是否自動輪播，預設false。 data-delay 間隔多久，預設3000。
        // data-arrows, data-dots 是否有箭頭、點點
        .carousel-wrap(ref="carousel",
          data-auto="true", data-delay="3000", data-arrows="true", data-dots="true",
          @mouseenter.stop="toggleTimer = false", @mouseleave.stop="toggleTimer = true",
          @touchstart.stop="touchStart", @touchmove.stop="touchMove"
          :style="'min-height:' + minHeight ")

          ='\n'

          // carousel items
          keep-alive

            ='\n'

            transition(:name="carouselName")

              ='\n'

              .item(v-for="(s, i) in carousels", v-if="show == i", :key="i")
                a(:href="s.href")
                  img(:src="s.img")
              
              ='\n'
            
            ='\n'

          ='\n'

          // button: prev, next
          .arrows-group(v-if="arrows")
            a.button-prev(href="#", @click.prevent="toPrev")
              img(src="//akveo.github.io/eva-icons/outline/png/128/arrow-ios-back-outline.png")
            a.button-next(href="#", @click.prevent="toNext")
              img(src="//akveo.github.io/eva-icons/outline/png/128/arrow-ios-forward-outline.png")

          ='\n'

          //- dots
          .dot-group(v-if="dots")
            a(v-for="(l, i) in len", href="#", :class="{ 'active': show == i }", @click.prevent="show = i")

          ='\n'
        
        ='\n'
      
      ='\n'

    ='\n'

    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js")
    script(src="dist/augurio-carousel.min.js")

    ='\n'